@import "./nes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  @apply !outline-none !ring-0;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

body {
  image-rendering: pixelated;
  touch-action: pan-y, pan-x;
}

.street {
  background-position: top left;
  background-image: url(/sprites/street.png);
}

.nes-container.is-dark {
  @apply street;
}

.nes-container.is-dark .title {
  @apply street;
}

.nes-radio:checked + span::before {
  animation: blink 1s infinite steps(1);
}

.nes-btn.is-pink {
  @apply bg-pink-500 text-white;
}

.nes-btn.is-pink::after {
  @apply shadow-pink-600;
  box-shadow: inset -4px -4px var(--tw-shadow-color);
}

.nes-btn.is-pink.is-disabled {
  @apply shadow-pink-600 bg-pink-500 text-white;
  box-shadow: inset -4px -4px var(--tw-shadow-color);
}

.nes-btn.is-pink.is-disabled::after {
  @apply shadow-pink-600;
  box-shadow: inset -4px -4px var(--tw-shadow-color);
}

.nes-btn.is-pink:active:not(.is-disabled)::after {
  box-shadow: inset 4px 4px var(--tw-shadow-color);
}

.rounded-4px {
  clip-path: polygon(
    0px 8px,
    4px 8px,
    4px 4px,
    8px 4px,
    8px 0px,
    calc(100% - 8px) 0px,
    calc(100% - 8px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 8px,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) 100%,
    8px 100%,
    8px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 8px),
    0px calc(100% - 8px)

  );
}

.rounded-2px {
  clip-path: polygon(
    0px 4px,
    4px 4px,
    4px 0px,
    calc(100% - 4px) 0px,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0px calc(100% - 4px)
  );
}
